@import '../sass/variables'

.container
  padding-top: 2rem
  padding-bottom: 2.6rem

  .brand
    display: flex
    align-items: center

  .brand__name
    font-family: 'Montserrat'
    font-size: 1.8rem
    font-weight: 900
    &--left
      color: $color-text
    &--right
      color: $color-main