<div class="container">
  <div class="row">
    <div class="brand col-md-6">
      <h1 class="brand__name">
        <span class="brand__name--left">Tool</span><span class="brand__name--right">Box</span>
      </h1>
    </div>
    <div class="search col-md-6">
      <div class="search__wrapper md-form form-sm" [ngClass]="{'focus': searchFocus}">
        <i class="fa fa-search prefix"></i>
        <input mdbActive [(ngModel)]="search" type="text" class="search__input form-control" (focus)="searchFocus = true" (focusout)="searchFocus = false">
        <label class="search__label" for="search">Filter results...</label>
      </div>
    </div>
  </div>
  <div class="row">
    <pre-categories style="width: 100%" [categories]="categories" [search]="search"></pre-categories>
  </div>
</div>